.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
  
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    font-style: italic;
    color: #97d8d7;
  }